.dropbox/
.dropbox.cache/
.idea/
.public/
bower_components/
node_modules/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.iml
*.css.map
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.publish/
prod/*
!prod/README.*
report/
src/chiquery*.js
src/chiquery*.js.map
