$RECYCLE.BIN/
.dropbox/
.dropbox.cache/
.idea/
.public/
.publish/
node_modules/
*_i.c
*_p.c
*.aps
*.bak
*.cache
*.dll
*.exe
*.ilk
*.iml
*.lib
*.log
*.map
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.suo
*.tlb
*.tlh
*.user
*.vspscc
Desktop.ini
ehthumbs.db
npm-debug.log
Thumbs.db

dist/
docs/
report/
src/js/
