{
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module"
	},
	"env": {
		"browser" : true,
		"es6": true
	},
	"globals": {
		"window": true,
		"chiQuery": true,
		"$": true
	},
	"rules": {
//		"strict": ["error", "function"],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"linebreak-style": ["error", "unix"],
//		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"comma-dangle": ["error", "never"],
		"no-console": ["error", { "allow": ["warn", "error"] }]
	}
}
